#wa-email-editor-editor {
  box-sizing: border-box;
  * {
    box-sizing: border-box;
  }
}

.ee-block-drag-handle,
.ee-block-avatar-wrapper {
  cursor: grab;

  &:hover {
    cursor: grab;
  }

  &:active,
  &.ee-block-avatar-dragging {
    cursor: grabbing;
  }

  button,
  [role='button'],
  a,
  svg,
  span,
  div {
    cursor: inherit;
  }
}
.easy-email-overlay {
  overflow: auto;
  z-index: 1050;
}
.easy-email-overlay {
  overflow: overlay !important;
  z-index: 1050;
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px !important;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }
}
